.academics {
    background-color: rgb(245, 245, 245);
    padding-left: 80px;
    padding-right: 80px;
    height:100%;
    width: 100%;
    background-size: cover;
    overflow: auto;
    font-weight: 400;
    font-size: 20px;
    font-family: Calibri, sans-serif;
    display:inline-block;
}
