.about-me{
    background-color: rgb(245, 245, 245);
    padding-left: 200px;
    padding-right: 200px;
    height:100%;
    width: 100%;
    background-size: cover;
    overflow: auto;
    font-weight: 400;
    font-size: 20px;
    font-family: Calibri, sans-serif;
    display:inline-block;
}
.about-title {
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 10px;
    font-weight: 400;
    font-size: 40px;
}
.double-column {
    margin-top: 40px;
    padding-left: 15%;
    padding-right: 15%;
    display:flex
}
.column {
    text-align: center;
    flex: 50%;
}
.profile {
    
}
.skills {

}